# Referencia: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-debug.log

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Android
android/app/build/
android/.gradle/
android/.idea/
*.iml

# iOS
ios/build/
ios/Pods/
*.xcworkspace
*.xcodeproj/

# Metro
.metro-health-check*
metro-cache/
__generated__/

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# Local env files
.env
.env*.local

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/
